.container{  
    display: grid;
    grid-template-columns: repeat(4, 400px); 
    grid-template-rows: repeat(2, 400px);
    grid-gap: 20px;
    margin: auto;
    width: 88%;
    padding-top: 30px;
}
.item{
    background-color: rgb(153, 153, 153);
    align-items: center;
    text-align: center;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.push{  
    display: grid;
    grid-template-columns: repeat(3, 30%); 
    grid-template-rows: repeat(1, 50%);
    grid-gap: 5%;
}
.button{
    background-color: rgb(153, 153, 153);
    border-radius: 25px;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0% 0% 0%;
    left: 60%;
    position: relative;
}
.next{
    background-color: rgb(153, 153, 153);
    border-radius: 25px;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0% 0% 0%;
    left: 85%;
    position: relative;
}
.prev{
    background-color: rgb(153, 153, 153);
    border-radius: 25px;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0% 0% 0%;
    position: relative;
}
a:link{
    text-decoration: none;
    color: black;
}
