img{
    width: 100%;
    height: 925px;
    background-size: 100% 100%;
}
.text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 70px;
  }
  .text2 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .text3 {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  body{
    background: #0b9434;
  }
  a:link{
    text-decoration: none;
    color: black;
  }